@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@400&display=swap');

html {
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Lines Top */
#lu {
    z-index: -2;
    float: left;
    margin-top: 0em;
    margin-left: 0.2em;
    opacity: 0.5;
    
}

#ru {
    z-index: -2;
    float: right;
    margin-top: 0em;
    margin-right: 0.2em;
    opacity: 0.5;
}

/*Images*/
#Title {
    z-index: -2;
    position: absolute;
    margin-left: 34em; 
}

#Fox1 {
    position: absolute;
    z-index: -1;
    margin-top: 2.5em;
    margin-left: 10em;
}

#Fox2 {
    position: absolute;
    float: right;
    z-index: -1;
    margin-top: 2.5em;
    margin-left: 54em;
}
/* Menu */
#navMenu {
    margin-left: 11em;
}
#navMenu ul {
    position: relative;
    list-style: none;
}
#navMenu ul li {
    list-style: none;
    float: left;
}
#navMenu ul ul {
    display: none;
    position: absolute;
}
#navMenu ul ul li {
    float: none;
    border: none;
    
}
#navMenu ul li:hover > ul {
    display: block;
}
#navMenu > ul::after {
    content: "";
    display: block;
    clear: both;
}
#navMenu a {
    text-decoration: none;
    color: #6a6a6a;
    background-color: #f4f4f4;
    font-family: serif;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 2em;
    margin-top: 4em;
    margin-left: 3.5em;
}
#navMenu ul li a {
	text-align: center;
	display: block;
	text-decoration: none;
}
#navMenu ul ul a {
    margin-left: 2em;
    border: 1px solid #6a6a6a;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
#navMenu ul ul li a {
    margin-top: 0em;
    font-size: 1.2em;
}

#navMenu a:visited {
    text-decoration: none;
    
}
#navMenu ul li a:hover {
    color: #6e1c25;
}

/*Service Options*/
h2 {
    text-align: center;
    color: #6a6a6a;
    text-shadow: 1px 1px 1px #e78d6f;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 0.02em solid #6a6a6a;
    padding-top: 2em;
}

/* Leo and Ohle */
#Leo1  {
    float: left;
    margin-left: 0em;
}
#Leo2  {
    margin-left: 5em;
    margin-right: 6.2em;
}
#Leo3  {
    margin-left: 0em;
    margin-right: 5em;
}

#Leo4 {
    float: right;
    margin-top: 0em;
}

#Leo5  {
    float: left;
    margin-left: 0em;
     margin-top: 1em;
}
#Leo6  {
    margin-left: 5em;
    margin-right: 6.2em;
    margin-top: 1em;
}
#Leo7  {
    margin-left: 0em;
    margin-right: 5em;
    margin-top: 1em;
}

#Leo8 {
    float: right;
    margin-top: 1em;
}

/*Footer*/
footer {
    z-index: 5;
    text-align: center;
    margin-top: 12em;
    font-family: sans-serif;
    color: #6a6a6a;
    font-size: 0.7em;
}

/* Lines Bottom */
#ll {
    z-index: -2;
    float: left;
    margin-top: -11.2em;
    opacity: 0.5;
    
}
#rl {
    z-index: -2;
    float: right;
    margin-top: -11.2em;
    opacity: 0.5;
}
