@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@400&display=swap');
html {
    background-color: #202020;
}
header h1 {
    margin-top: 1em;
    margin-left: 1em;
}
header h1 a {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: white;
    float: left;
    font-size: 1.5em;
}
header h1 a:visited {
    text-decoration: none;
}
nav h4 {
    float: right;
    list-style: none;
	position: relative;
    margin-right: 1em;
}
nav a {
	text-align: center;
	width: 5em;
	text-decoration: none;
	color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    background-color: darkgray;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
}
section h1 {
    color: white;
    font-family: "Quicksand", sans-serif;
    padding-top: 10em;
    margin-left: 4em;
    text-align: center;
}
#contact {
    color: white;
    float: inherit;
    border: none;
    margin-right: 35em;
    float: right;
}
#contact label {
    text-align: right;
    width: 8em;
    float: left;
    line-height: 2em;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
}
#contact input {
    margin-left: 2em;
    height: 2em;
    width: 10em;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    float: right;
}
footer {
    text-align: center;
    padding-top: 40em;
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 1em;
}