@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@400&display=swap');

html {
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Lines Top */
#lu {
    z-index: -2;
    float: left;
    margin-top: -1em;
    margin-left: 0.2em;
    opacity: 0.5;
    
}

#ru {
    z-index: -2;
    float: right;
    margin-top: -1em;
    margin-right: 0.2em;
    opacity: 0.5;
}

/*Images*/
#img1 {
    position: absolute;
    z-index: -1;
    margin-top: -1em;
    margin-left: 1.5em;
    
}
/* Menu */
#navMenu {
    margin-left: 11em;
}
#navMenu ul {
    position: relative;
    list-style: none;
    margin-left: 3em;
}
#navMenu ul li {
    list-style: none;
    float: left;
}
#navMenu ul ul {
    display: none;
    position: absolute;
}
#navMenu ul ul li {
    float: none;
    border: none;
    
}
#navMenu ul li:hover > ul {
    display: block;
}
#navMenu > ul::after {
    content: "";
    display: block;
    clear: both;
}
#navMenu a {
    text-decoration: none;
    color: #6a6a6a;
    background-color: #f4f4f4;
    font-family: serif;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 2em;
    margin-top: 4em;
    margin-left: 4em;
    
}
#navMenu ul li a {
	text-align: center;
	display: block;
	text-decoration: none;
}
#navMenu ul ul a {
    margin-left: 0em;
    border: 1px solid #6a6a6a;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
#navMenu ul ul li a {
    margin-top: 0em;
    font-size: 1.2em;
}

#navMenu a:visited {
    text-decoration: none;
    
}
#navMenu ul li a:hover {
    color: #6e1c25;
}
/*Footer*/
footer {
    z-index: 5;
    text-align: center;
    margin-top: 60em;
    font-family: sans-serif;
    color: #6a6a6a;
    font-size: 0.7em;
}

/* Lines Bottom */
#ll {
    z-index: -2;
    float: left;
    margin-top: -11.2em;
    opacity: 0.5;
    
}
#rl {
    z-index: -2;
    float: right;
    margin-top: -11.2em;
    opacity: 0.5;
}
