@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@400&display=swap');

html {
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Lines Top */
#lu {
    z-index: -2;
    float: left;
    margin-top: -6em;
    margin-left: 0.2em;
    opacity: 0.5;
    
}

#ru {
    z-index: -2;
    float: right;
    margin-top: -6em;
    margin-right: 0.2em;
    opacity: 0.5;
}

/*Images*/
#img1 {
    position: absolute;
    z-index: -1;
    margin-top: -7.8em;
    margin-left: 1.5em;
    
}


/* Menu */
h4 {
    z-index: 4;
    font-size: 1.8em;
    line-height: 2em;
    margin-top: 4em;
    margin-left: 15.7em;
    background-color: none;
    font-family: serif;
    
}
a {
    text-decoration: none;
    color: #6a6a6a;
}
a:visited {
    text-decoration: none;
}
#Portfolio {
    z-index: 6;
    float: left;
    padding-right: 4em;
    margin-left: -3em;
}
#Services {
    z-index: 6;
    float: left;
    padding-right: 4em;
    
}
#About {
    z-index: 6;
    padding-right: 4em;
    
}
#Contact {
    z-index: 6;
    float: right;
    margin-right: 6em;
}

/* Navigation Buttons */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

/*Footer*/
footer {
    z-index: 5;
    text-align: center;
<<<<<<< Updated upstream
    padding-top: 6em;
=======
    margin-top: 60em;
>>>>>>> Stashed changes
    font-family: sans-serif;
    color: #6a6a6a;
    font-size: 0.7em;
}

/* Lines Bottom */
#ll {
    z-index: -2;
    float: left;
    margin-top: -11.2em;
    opacity: 0.5;
    
}
#rl {
    z-index: -2;
    float: right;
    margin-top: -11.2em;
    opacity: 0.5;
}
