@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@400&display=swap');
html {
    background-image: url(/Images/homepage_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
img {
    position: absolute;
    z-index: -1;
    margin-top: -4em;
    margin-left: 20em;
    opacity: 0.5;
}
h1 {
    text-align: left;
    font-size: 5em;
    background: ;
    color: white;
    padding-top: 1em;
    margin-left: 1em;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.025em;
}
h4 {
    text-align: left;
    font-size: 2em;
    line-height: 2em;
    margin-left: 2.5em;
    font-family: "Quicksand", sans-serif;
    
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
}
footer {
    text-align: center;
    padding-top: 6em;
    font-family: sans-serif;
    color: white;
    font-size: 1.3em;
}